@charset "uft-8"
/* David Robidoux Nov 5/2024 Lab 6 */

/* Custom Styles for Event Cards Hover Effect */
.event-card, .news-card, .classified-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.event-card:hover,
.news-card:hover,
.classified-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
