@charset "utf-8";
/* David Robidoux Nov 14/2024 */

body {
  background-color: crimson;
}
p {
  color: chartreuse;
}
.mike img {
  width: 300px;
}

.dick img {
  width: 300px;
}

.wilson img {
  width: 300px;
}

h1 {
  text-align: center;
  font-size: 4em;
  color: chartreuse;
}
h2 {
  font-size: 3em;
  text-align: center;
  color: chartreuse;
}
h3 {
  font-size: 2em;
  color: chartreuse;
}

ol li {
  text-align: center;
  list-style-position: none;
  color: chartreuse;
}

footer {
  color: chartreuse;
  background-color: black;
}

li {
  font-size: 20px;
}
