@charset "utf-8";
/* David Robidoux Nov 17/2024 Lab 13 */

/* Grid layout */
.recipe-grid {
  min-width: 800px;
  max-width: 1200px;
  margin: auto;
  display: grid;
  width: 75%;
  gap: 5px;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-areas:
    "head head mid end "
    "main row row foot"
    "ink ink chicken chicken";
}

.card_one {
  grid-area: head;
}
.card_two {
  grid-area: mid;
}
.card_three {
  grid-area: ink;
}
.card_four {
  grid-area: main;
}
.card_five {
  grid-area: row;
}
.card_six {
  grid-area: chicken;
}
