@charset "utf 8";
/* David Robidoux Nov 22/2024 Assignment 6 */

/*  no min and max width Responsive Design */

/* @media for 900px  */

@media (max-width: 900px) {
  #product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product {
    width: 80%;
  }
  body {
    background-color: none;
  }
  #container {
    width: 100%;
    padding: 5px;
  }
  h1 {
    text-align: center;
  }
}

/* @media for 700 */

@media (max-width: 700px) {
  #product-grid {
    display: grid;
    grid-template-columns: auto;
  }
  .product {
    width: 80%;
  }
  body {
    background-color: none;
  }
  #container {
    width: 100%;
    padding: 5px;
  }
  h1 {
    text-align: center;
  }
}

body {
  font-family: sans-serif;
  color: #555;
  background-color: #ccc;
  margin-top: 0;
}

h1 {
  font-size: x-large;
  color: #2195c6;
}

#container {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 2%;
}

.product-image {
  text-align: center;
}

.product {
  width: 30%;
  border: 1px dashed grey;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
}

.product img {
  width: 80%;
}

.product .description {
  text-align: center;
}

/* pseudo-class styling area */
.product-image {
  opacity: 0.5;
}

.product-image:hover {
  opacity: 1;
}

/* Grey border for even phones */
#product-grid .product:nth-child(even) {
  border: 2px solid rgb(56, 55, 55);
}

/* Green border for odd phones */
#product-grid .product:nth-child(odd) {
  border: 5px solid rgb(24, 204, 8);
}

.description::selection {
  background-color: yellow; /* Highlighted background */
  color: green; /* Highlighted text color */
}

/* Hamburger button */
.hamburger {
  width: 40px;
  height: 40px;
}

/* Navigation menu */
.nav-menu {
  display: none; /* Initially hidden */
  background-color: white;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(15, 107, 228);
}

/* Show the navigation menu when hovering over the navbar */
.navbar:hover .nav-menu {
  display: flex;
}
