@charset "utf-8";
/* David Robidoux Nov 9/2024 Assignment 3 */

#specials {
  border: 5rem dotted darkturquoise;
  padding: 5px;
  margin: 5px;
  background-color: rgb(225, 21, 21);
  clear: both;
}

h2 {
  font-size: 9em;
  color: rgb(228, 5, 217);
  text-align: center;
  margin: 4px;
}
img {
  float: right;
  margin: 20rem 0px 0px 0px;
}

footer {
  clear: both;
  color: yellow;
  text-align: center;
}

h1 {
  font-family: monospace;
}
a {
  color: yellow;
}
